<div class="delivPay_Page">
	<h2> Доставляємо щастя. Безкоштовно. </h2>

	<div class="all_deliv_methods">
		<h3> 3 варіанти доставки </h3>

		<div class="deliv_methods">

			<div class="deliv_one_method">
				<div class="deliv_first_method"></div>
				<h3>Безкоштовно кур'єром</h3>
			</div>
			<div class="deliv_one_method">
				<div class=" deliv_second_method"></div>
				<h3>Нова пошта (Самовивіз)</h3>
			</div>
			<div class="deliv_one_method">
				<div class=" deliv_third_method"></div>
				<h3>Міст Експрес (Самовивіз)</h3>
			</div>

		</div>
	</div>
	<div>
		
		
		
	</div>


</div>
