<header id="body_header">

	<div id="header_text">
		<h1>Care shop</h1>
	</div>
	<main>
		<div id="main_div">
			<table id="main_div_table">
				<tr class="main_table_tr">
					<td>
						<a ng-click="SelectFunc()" href="#/hairPage" id="table_pers_hair" class="table_td_pers">
							<div>
								<h2 class="table_pers_name">Волосся</h2>
							</div>

						</a>

					</td>
					<td>
						<a ng-click="SelectFunc()" href="#/bodyPage" id="table_pers_body" class="table_td_pers">
							<div>
								<h2 class="table_pers_name">Тіло</h2>
							</div>

						</a>
					</td>
				</tr>
				<tr class="main_table_tr">
					<td>
						<a ng-click="SelectFunc()" href="#/nailPage" id="table_pers_nail" class="table_td_pers">
							<div>
								<h2 class="table_pers_name">Нігті</h2>
							</div>
						</a>
					</td>
					<td>
						<a ng-click="SelectFunc()" href="#/facePage" id="table_pers_face" class="table_td_pers">
							<div>
								<h2 class="table_pers_name">Обличчя</h2>
							</div>
						</a>
					</td>
				</tr>
			</table>
		</div>
	</main>

</header>
<div>
	<h1 class="page_header">Про компанію</h1>
	<p>&nbsp;</p>
	<div class="content">
		<div class="about">
			<div class="about_content col-md-8">
				<h2>Ми любимо своїх клієнтів</h2>
				<p>Care shop — найбільший та найпопулярніший інтернет магазин засобів по догляду в Україні. Наше завдання — не просто надати вам можливість здійснення покупки, ми хочемо відкрити для вас абсолютно новий світ б'юті-продуктів. Щодня Care shop розвивається і впевнено крокує назустріч світовим трендам, щоб невдовзі познайомити вас із новинками найвідоміших брендів, а також із достойними продуктами маленьких, але не менш цікавих виробників. Наша мета — зробити кожен ваш день кращим, наповнюючи його гармонією та красою. Доступні ціни, широкий вибір, висока якість продукції і європейське обслуговування — головні секрети успіху компанії Care shop. Ми дбаємо про те, щоб ви якомога більше дізналися про кожен товар, тому на сайті можна знайти докладний опис продукту, спосіб застосування, а також фото.</p>
				<p>Клієнти Care shop завжди можуть отримати професійну консультацію у наших менеджерів, вам потрібно просто зателефонувати за одним із вказаних на сайті номерів. Менеджер допоможе не тільки підібрати товар, а й відповість на всі ваші запитання про роботу магазину, оформить ваше замовлення і зорієнтує щодо часу доставки, яка, до речі, є безкоштовною по всій території України.</p>
				<p>&nbsp;</p>
				<h2>Ми завжди вдячні своїм клієнтам</h2>
				<p>Care shop заохочує активність клієнтів — часто влаштовує конкурси й дарує цінні подарунки. Стежте за оновленнями в групах соціальних мереж і не втратьте можливості випробувати вдачу.</p>
				<p>&nbsp;</p>
				<h2>Асортимент — голова обертом</h2>
				<p>Компанія Care shop піклується не тільки про якість продукції та сервіс, а й про широкий вибір товарів. Ми стежимо за новинками і модними тенденціями на ринку краси, тому наш асортимент постійно оновлюється і розширюється.</p>
				<p>&nbsp;</p>
				<h2>Якість на найвищому рівні</h2>
				<p>Ми цінуємо довіру клієнтів, тому пропонуємо тільки оригінальний і якісний продукт. Наші покупці завжди можуть переконатись у достовірності покупки і перевірити своє замовлення просто у присутності кур'єра.</p>
				<p>&nbsp;</p>
				<h2>Як отримати замовлення?</h2>
				<p>Інтернет магазин Care shop здійснює безкоштовну та оперативну доставку по всій території України. Кур'єрська доставка в усі обласні центри країни здійснюється прямо «до дверей». У Києві замовлення, оформлені до 7 ранку, доставляються того ж дня. Після: 7:00 — наступного дня. В інші міста України доставка здійснюється наступного або через день. Детальніше ознайомитися з умовами доставки ви можете <a href="/ua/delivery/">тут</a>.</p>
			</div>
			<div class="about_sidebar col-md-4">
				<div class="about_sidebar-info">
					<h2>Режим роботи</h2>
					<p>ВІДТЕПЕР БЕЗ ВИХІДНИХ! 7 ДНІВ НА ТИЖДЕНЬ!</p>
					<p>Інтернет магазин CARE SHOP працює щодня <br>з 7:55 до 20:05 <br>Доставка здійснюється з понеділка по суботу включно.</p>
					<a name='kontakty' ></a><h2>Контакти</h2>
					<p>МИ ЗАВЖДИ НА ЗВ'ЯЗКУ!</p>
					<p>Ви можете написати нам листа careShop@gmail.com, зателефонувати за телефонами <br>(044) 374 03 83<br>0(800) 50 77 40</p>
				</div>
			</div>
		</div>
	</div>

</div>
